.footer {
    background: linear-gradient(180deg, 
    var(--color-black, #1B1A1B) 0%, 
    #370A37 100%);
}

.adress {
    margin-bottom: 35px;
}

.adress__par {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal; 
    margin: 0;
    padding-left: 60px;
    margin-bottom: 38px;
    white-space: pre-line;
}

.adress__par:before {
    content: url('../img/footer/location.svg');
    position: absolute;
    top: 10px;
    left: 0;
}

.adress__link-tel {
    color: var(--color-white, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

.adress__link-tel:before {
    content: url('../img/footer/phone-call.svg');
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.adress__link-mail {
    color: var(--color-white, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

.adress__link-mail:before {
    content: url('../img/footer/envelope.svg');
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}