.faq__list {
    padding: 0;
}

.faq__item {
    background-color: var(--color-white, #FFF);
    color: var(--color-black, #1C1A1A);
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin: 0 0 20px 0;
    line-height: 46px;
    list-style-type: none;
}

.faq__item:nth-child(2n) {
    background-color: var(--color-dark-purple, #440F51);
    color: var(--color-white, #FFF);
}

.faq__item:last-child {
    margin: 0;
}

.faq__icon {
    float: right;
    color: var(--color-dark-purple, #440F51);
}

.faq__icon:hover {
    background-color: var(--color-dark-purple, #440F51);
    border-radius: 100%;
    color: var(--color-white, #FFF);
    cursor: pointer;
    transition: background-color 0.2s ease, 
    border 0.3s ease,
    color 0.2s ease;
}

.faq__icon:hover .faq__circle {
    color: var(--color-dark-purple, #440F51);
}

.faq__icon:active {
    color: var(--color-dark-purple, #440F51);
    background-color: var(--color-white, #FFF);
    transition: background-color 0.2s ease, color 0.3s ease;
}

.faq__icon:active .faq__minus {
    color: transparent;
    transition: color 0.3s ease;
}

.faq__icon-white {
    float: right;
    color: var(--color-white, #FFF);
}

.faq__icon-white:hover {
    background-color: var(--color-white, #FFF);
    border-radius: 100%;
    color: var(--color-dark-purple, #440F51);
    cursor: pointer;
    transition: background-color 0.2s ease, 
    border 0.3s ease,
    color 0.2s ease;
}

.faq__icon-white:hover .faq__circle {
    color: var(--color-white, #FFF);
    transition: color 0.3s ease;
}

.faq__icon-white:active {
    color: var(--color-white, #FFF);
    background-color: var(--color-dark-purple, #440F51);
    transition: background-color 0.2s ease, color 0.3s ease;
}

.faq__icon-white:active .faq__minus {
    color: transparent;
    transition: color 0.3s ease;
}