.header {
    padding-top: 30px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    color: var(--color-white, #FFF);
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.navigation__list {
    display: flex;
    gap: 40px;
}

.header__btn {
    color: var(--color-white, #FFF);
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 3px solid var(--color-fuchsia,#CD06FF);
    padding: 15px 25px;
    transition: background-color 0.3s ease;
}

.header__btn:hover {
    border: 3px solid var(--color-violet, #6C0287);
    background-color: var(--color-violet, #6C0287);
}

.header__btn:active {
    border: 3px solid #000000;
    background-color: var(--color-blue-violet, #640AA3);
}

.header__btn:focus {
    background-color: var(--color-violet, #6C0287);
}

.navigation__link:hover {
    background-color: var(--color-violet, #6C0287);
    border-radius: 10px;
}

.navigation__link:active {
    background-color: var(--color-blue-violet, #640AA3);
    border-radius: 10px;
}

.navigation__link:focus {
    background-color: var(--color-violet, #6C0287);
    border-radius: 10px;
}

