.service__item {
    position: relative;
    transition: transform 0.3s ease;
}

.service__text {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    white-space: pre-line;
    position: absolute;
    top: 166px;
    left: 40px;
}

.service__list {
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
}

.service__item:hover {
    transform: scale(1.1);
    z-index: 1;
}
