
.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social__item {
    display: block;
    color: var(--color-white, #FFF);
    width: 50px;
    height: 50px;
    outline: 1px solid transparent;
    transition: color 0.3s ease, outline-color 0.2s ease;
    /* outline-offset: 3px; */
    /* border-radius: 100%; */
}

.social__item:hover {
    color: var(--color-light-purple, #EADEED);
}

.social__item:focus {
    outline-color: var(--color-fuchsia,#CD06FF);
    color: var(--color-light-purple, #EADEED);
}

.social__item:active {
    color: var(--color-fuchsia,#CD06FF);
}

.social__list {
    margin-right: 26px;
    display: inline-block;
}

.social__list:last-child {
    margin-right: 0;
}
