:root {
    --color-violet: #6C0287;
    --color-white: #fff;
    --color-background: #1B1A1B;
    --color-black: #1C1A1A;
    --color-dark-purple: #440F51;
    --color-light-purple: #EADEED;
    --color-fuchsia: #CD06FF;
    --color-blue-violet: #640AA3;
    --color-purple: #840AA3;
}